@font-face {
    font-family: andale;
    src: url(andale.ttf);
}
html, body {
  height: 100%;
  width: 100%;
  background: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.comp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
  font-family: andale;
  color: white;
  text-align: center;
  font-size: 25px;
}
a {
  color: white;
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}