ul{
    list-style-position: inside
}
.contact-content {
    text-align: left;
    padding: 10%
}
.thoughts-content {
    text-align: left;
    /* padding: 5% */
}
.about-content
{
    text-align: left;
    /* padding: 5%; */
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}
.projects-content
{
    text-align: left;
    /* padding: 5% */
}
.work-content {
    /* padding: 5%; */
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    /* border: 2px dashed white; */
    /* -ms-overflow-style: none;  
    scrollbar-width: none; */
}
/* .we{
    border: 2px dotted white;
} */


/* Hide scrollbar for Chrome, Safari and Opera */
/* .work-content::-webkit-scrollbar {
    display: none;
} */