ul{
    list-style-position: inside
}
.contact-content {
    text-align: left;
    padding: 10%
}
.thoughts-content {
    text-align: left;
    /* padding: 5% */
}
.about-content
{
    text-align: left;
    /* padding: 5%; */
    padding-right: 10%;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}
.projects-content
{
    text-align: left;
    /* padding: 5% */
}
.work-content {
    /* padding: 5%; */
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding-right: 10%;
}

.blue-link {
    color: rgb(61, 58, 255);
    text-decoration: underline;
}

.work-desc{
    padding-left: 4%;
}

.emphasis {
    font-size: 1.15em;
    display: inline;
}
.me-img{
    width: auto;
    height: 20em;
}

.hp-link{
    font-size: 2.2em;
    margin: 10px
}

.purdue-text{
    display: inline;
    color: #cfb991;
    font-size: 1.15em;
}